doctype html
html
	head
		title Login Google
	body
		div
			h1 Welcome to Google
			div
				label Login
				input
			div
				label Password
				input
			p Log in Google.
			form(action='auth/google', method='GET')
				input(type='submit' value='Login')